/* src/styles/App.css */
.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.input-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.input-container .input-section {
  margin-bottom: 20px;
}

.cv-preview {
  width: 60%; /* Önceki 75%'ten 60%'a düşürüldü */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #fff;
}

.cv-preview h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cv-preview p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.cv-preview p:last-child {
  margin-bottom: 0;
}
